extends layout

block content
  h1 Quiz!
  h2 What language would you like to study?

  form(action='/start-quiz', method='POST')
    select(name='language')
      option Language from:
      each language in data
        option()= language

    input(type='submit', value='Start Quiz!')