extends layout

block content
  h1 #{language} Quiz!
  h2 Question 1:
  p Translate the word "#{word}"


  form(action='/answer-quiz', method='POST')
    input(type="text", placeholder="Enter Translation...", name="translation")

    input(type='submit', value='Answer')