extends layout

block content
  h1 Quiz!
  h2 What language would you like to study?

  form(action='/translate', method='POST')
    select#langFrom(name='langFrom')
      option Language from:
      each language in data
        option()= language

    input(type='submit', value='Start Quiz!')